Package: com.dynamicx.standardadjust
Name: DynamicX Standard Adjust
Version: 1.0.3
Architecture: iphoneos-arm64
Description: Companion tweak for DynamicX standard expanded notifications.
Maintainer: DynamicX
Author: DynamicX
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
